.galeria-section {
  padding-top: 90px;
}
.description-paragraph {
  margin-top: 25px;
}
.galeria-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 4em;
}
.img-galeria {
  width: 350px;
  height: 275px;
  margin-bottom: 10px;
}
.img-galeria:hover {
  cursor: pointer;
}
.img-galeria img {
  width: 350px;
  height: 250px;
}
.img-galeria .img-title {
  width: 350px;
  height: 25px;
  background-color: #f63838;
  color: #ffffff;
  text-align: center;
}
.galeria-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
@media only screen and (max-width: 666px) {
  .galeria-container {
    justify-content: center;
  }
}
